@font-face {
    font-family: 'Poppins';
    src: url('Poppins-SemiBold.woff') format('woff');
    font-weight: 600;
}

@font-face {
    font-family: 'Poppins';
    src: url('Poppins-Medium.woff') format('woff');
    font-weight: 500;
}


svg.spinner {
    display: none;
    height: 20px;
}

p {
	font-size:14px;
  	line-height:25px;
}
.login-area {
    display: flex;
    justify-content: end;
}

button.shopify-payment-button__button {
    background: #ffffff;
    color: #000;
}

.button--secondary:after {
    border: 1px solid #2d3290;
  	--border-opacity: none;
}

.middle-header {
    padding: 10px 0;
    border-bottom: 1px solid #ebebeb;
}

.header-search .field:after, .header-search .select:after, .header-search .customer .field:after, .header-search .customer select:after, .header-search .localization-form__select:after, 
.header-search .field:hover.field:after, .header-search .field__input:focus, .header-search .field__input:focus-visible
{
	border-radius:none;
}

.header-search *:focus-visible {
    outline: none;
    box-shadow: none;
}

.header-search .field__input {
	height:3.5rem;
  	padding: 5px 12px;
      
}

.header-search .field__input:focus~.field__label {
    display: none;
}

.header-search .field__label {
    font-size: 16px;
}

.header-search .field__button {
    height: 3.5rem;
    background-color: #002681 !important;
    color: #fff;
    border-radius: none;
    border: 1px solid #002681;
}

.header-search .field__input:focus, .header-search .field:hover.field:after {
    box-shadow: 0px 0px 10px #00268185;
}

.header--middle-left {
    column-gap: inherit;
}

header.header {
    padding-top: 0;
    padding-bottom: 0;
}

.left-menu {
    background: linear-gradient(90deg, rgb(0, 37, 129) 0%, rgb(3, 56, 186) 100%) 0% 0% no-repeat padding-box padding-box transparent;
}

.left-menu span {
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
}

.all-cat {
    padding: 10px 20px;
    background: linear-gradient(90deg, rgb(0, 37, 129) 0%, rgb(3, 56, 186) 100%) 0% 0% no-repeat padding-box padding-box transparent;
    justify-content: space-between;
}

img.img-fluid.bar-icon {
    height: 20px;
    width: 20px;
    margin: auto 0;
}

img.img-fluid.down-icon {
    text-align: right;
    width: 12px;
    height: 12px;
    margin: auto 0;
    margin-top: 8px;
}

a.all_cat_btn {
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    justify-content: space-between;
    display: flex;
}

.all-cat>a:hover {
    text-decoration: none;
    color: #fff;
    opacity: 0.9;
}

.header__menu-item {
    padding: 0;
}

.right-menu .header__menu-item {
    font-weight: 600;
}

.middle-menu ul li {
    font-weight: 600;
}

a.button.slider-url {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: block;
    opacity: 0;
}

/* sidebar */

sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 250px;
    width: 0;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    background: #000;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
    width: 250px;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 15px;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -250px;
}

/* Sidebar Styles */


@media(min-width:768px) {
    #wrapper {
        padding-left: 250px;
    }

    #wrapper.toggled {
        padding-left: 0;
    }

    #sidebar-wrapper {
        width: 100%;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }

    #page-content-wrapper {
        padding: 20px;
        position: relative;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}

.banner1 {
  	padding-right: 6px !important;
}

.banner2 {
  	padding-left: 6px !important;
}


.home-products .grid__item {
    width: 16% !important;
}

.card.card--standard.card--media {
/*     box-shadow: 0 1px 5px rgb(134 129 129 / 55%); */
    text-decoration: none;
    border: none;
    border-radius: 8px;
}

.card__information {
    padding-left: 8px !important;
    padding-right: 8px;
}

h3.card__heading.h5 {
    font-size: 15px;
    font-wight: 
    color: #000;
}

.card-information .price {
    font-size: 16px;
    color: #002684;
    font-weight: 600;
    margin-top: 12px !important;
}

a.full-unstyled-link:hover {
    text-transform: none !important;
    color: #012a8f;
}

.full-unstyled-link {
    text-decoration: none !important;
}

h2.title {
    display: block;
    font-size: 37px;
    font-weight: 600;
    color: #000;
    text-align: center;
    width: 100%;
    margin-bottom: 20px;
}

.card__inner {
    height: auto;
}



.collection__view-all {
    margin-top: 40px !important;
}

a.view-all:hover {
    color: #fff;
}

/* footer  */

.footer-block__details-content p {
    font-size: 14px;
}

h2.footer-block__heading {
    font-weight: 500;
    color: #fff;
}

.footer__content-bottom {
    padding-top: 0px !important;
}

.footer__copyright {
    font-size: 14px;
    margin-top: 5px !important;
}

.footer__content-top {
    padding-bottom: 20px !important;
}

.section-footer-padding {
    padding-bottom: 20px !important;
}

.mobile-search-icon svg.icon.icon-search {
    width: 20px;
    height: 20px;
}

button.search-btn.mobile-search-icon {
    border: none;
    background: no-repeat;
    padding: 0 !important;
    margin: auto 0;
    height: 20px;
}

button.search-btn.mobile-search-icon:focus {
    outline: navajowhite;
    box-shadow: none;
}


.menu-drawer__navigation {
    padding: 0;
}

.rte li {
    font-size: 15px;
    line-height: 30px;
}

.main-page-title {
    font-size: 35px;
    text-align: center;
    font-weight: 600;
    text-transform: uppercase;
}

.list-menu>li{
    text-transform: uppercase;
    border-bottom: 0.5px solid #E1E1E1;
}

div#FacetsWrapperDesktop {
    /* display: none; */
}

select#ProductSelect- {
    background: transparent !important;
}

.slideshow__controls.slider-buttons {
    display: none;
}
span.header__icon.nav-close {
    position: absolute;
    right: 12px;
    top: 10px;
    z-index: 11;
}

span.header__icon.nav-close svg {
    width: 14px;
    height: 14px;
}
h2.mobile-nav-title {
    font-size: 20px;
    line-height: 30px;
    font-weight: 600;
    text-transform: uppercase;
    color: #212529;
}
.list-menu>li details {
    width: 100%;
}
span.nav-item-title {
    display: block;
    text-align: center;
    width: 100%;
    font-size: 18px;
    text-transform: uppercase;
    line-height: 27px;
}
button.menu-drawer__close-button:focus {
    outline: none;
    border: none;
}
.menu-drawer__close-button {
    border-bottom: .5px solid #E1E1E1;
}
.mobile-nav-top {
    position: relative;
    padding: 8px 24px;
    border-bottom: .5px solid #E1E1E1;
    padding-top: 18px;
}
span.badge.badge--bottom-left {
    font-size: 14px;
    border-radius: 0;
}

.qsc-cart__price-item {
    font-size: 16px;
}

.campaign-button a {
    padding: 1.1rem 3.2rem;
    font-size: 1.8rem;
    background: #022484;
    width: 100%;
    display: block;
    color: #fff;
    font-weight: 600;
    text-transform: uppercase;
}


.middle-menu ul li {
    border-left: 1px solid gray;
    margin-left: 10px;
    padding-left: 10px;
}

.middle-menu ul li:first-child {
    margin: 0;
    border: 0;
    padding: 0;
}

.card-footer.off-day {
    display: flex;
    justify-content: space-between;
}

img.maplink-img {
    /* width: 15px; */
}

a.map-link {
    border: 1px solid #ef4a23;
    border-radius: 20px;
    padding: 3px 10px;
    font-size: 13px;
    transition: 0.5s;
    color:#ef4a23;
}

.card-footer.off-day strong {margin: auto 0;letter-spacing: 0;}

a.map-link:hover {
    background: #ef4a23;
    color: #fff;
    border: 1px solid #ef4a23;
    text-decoration: none;
}

a.map-link:hover img.maplink-img {
    filter: brightness(100);
}
.off_day {
    margin: auto 0;
}
.off_day span {
    background: rgba(55,75,190,.1);
    color: #3749bb;
    font-size: 14px;
    padding: 0 5px;
    display: inline-block;
    border-radius: 30px;
    font-weight: 500;
}

button.btn.btn-sm.on-btn {
    background: #4cbd44;
    color: #fff;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 600;
    margin-right: 5px;
    border-radius: 5px;
}

a#cart-icon-bubble svg {
    width: 24px;
    height: 24px;
}

.header__icon--account svg {
    width: 26px;
    height: 26px;
}

.price__sale .price-item,
.price__regular .price-item--regular {
    font-size: 18px;
    font-weight: bold;
    color: #2d3290;
}

.price__sale .price-item.price-item--regular {
    font-size: 18px !important;
    color: #969696 !important;
}

span.badge.price__badge-sale {
    margin-top: 2px;
}

button.product-form__submit.button:hover {
    background: #ffffff;
    color: #2d3290
}

button.product-form__submit.button {
    text-transform: uppercase;
    letter-spacing: 0;
    font-size: 18px;
    transition: 0.5s;
    height: 50px;
    background: #2d3290;
    color: #fff;
    border-radius: 3px;
    font-weight: 600;
}

button.shopify-payment-button__button {
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 0;
    height: 50px;
    padding: 0;
    border-radius: 3px;
    font-weight: 600;
}
div#gf-controls-container {
    margin-left: -10px;
    margin-right: -10px;
}
.product .price .badge {
    font-weight: 600;
    text-transform: uppercase;
}

button.shopify-payment-button__button:hover {
    border: none;
    outline: none;
    min-height: 50px !important;
    height: 50px;
    background-color: #2d3290 !important;
    color: #fff;
}

.shopify-payment-button__button--unbranded:hover:after  {
    box-shadow:none !important;
}

.list-menu__item--link {
    padding-bottom: 0 !important;
}

a.link.link--text,
a.top-phone, .top-email {
    position: relative;
}

a:hover,
.header__menu-item:hover span {
    text-decoration: none !important;
}

.footer a.link.link--text::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: #fff;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}
.desktop-menu a.link.link--text::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: #000;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

a.top-phone::after, 
.top-email::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: #fff;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.footer a.link.link--text:hover:after,
.desktop-menu a.link.link--text:hover:after,
a.top-phone:hover:after,
.top-email:hover:after
 { 
    transform: scaleX(1);
    transform-origin: bottom left;
}   

a.footer-phone, a.footer-email  {
    font-size: 1.4rem;
    line-height: 1.5;
    color: #ffffffbf;
    display: block;
    margin-bottom: 5px;
    transition: 0.5;
}


.footer-contact img.phone, .footer-contact img.email {
    width: 18px;
}

a.footer-phone:hover,
a.footer-email:hover {
    color: #fff;
}

.footer-block__details-content p {
    line-height: 1.8;
}


.h4.spf-product-card__title {
    text-align: center;
}

.spf-product-card__price-wrapper {
    margin-top: 10px;
    text-align: center;
}

span.spf-product-card__price.money,
.spf-product-card__price-wrapper span {
    font-size: 18px;
    font-weight: 500;
}

.spf-has-filter.spf-layout-app #gf-products>div {
    padding: 5px;
}

.h4.spf-product-card__title a {
    letter-spacing: 0;
}

.collection-grid.collection-new-wrap {
    padding-bottom: 0;
    margin-bottom: 0;
}

.all-brands {
    padding: 25px 0;
    background-color: #f2f4f8;
}

.brand-info {
    display: flex;
    background: #fff;
    border-radius: 5px;
    padding: 20px;
    margin: 15px 0;
    box-shadow: 0 1px 1px rgb(0 0 0 / 10%);
}

.brand-logo {
    margin: auto;
    width: 100%;
}
.brand-logo-title {
    display: flex;
    align-items: center;
    width: 20%;
}

.brand-contents {
    display: flex;
    width: 80%;
    justify-content: space-between;
}
.brand-text {
    margin: auto;
    width: 70%;
    padding-right: 60px;
}
.discount-visit {
    width: 30%;
    display: flex;
    justify-content: space-between;
    align-items: center; 
}
.mobile-title {
    display: none;
}
.brand-discount {
    border-right: 1px solid #ddd;
    margin: auto;
    text-align: center;
    width: 60%;
    border-left: 1px solid #ddd;
}

.brand-visit {
    text-align: right;
    width: 40%;
    margin: auto;
}

a.visit-link {
    padding: 3px 15px;
    line-height: 30px;
    display: inline-block;
    border-radius: 30px;
    font-size: 15px;
    border: 1px solid #ef4a23;
    text-transform: capitalize;
    color: #ef4a23;
}

a.visit-link:hover {
    background: #ef4a23;
    color: #fff;
    text-decoration: none;
}

a.visit-link:hover .maplink-img {
    filter: brightness(100);
}

.info-area {
    width: 50%;
    display: flex;
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 1px 1px rgb(0 0 0 / 10%);
}

.top-info-content {
    display: flex;
    justify-content: space-between;
    column-gap: 30px;
}

.icon-image {
    background: #2b398f;
    height: 50px;
    width: 50px;
    border-radius: 50px;
    text-align: center;
    line-height: 50px;
    margin-right: 20px;
}

img.top-icon {
    width: 100%;
    display: block;
    padding: 15px;
}

.top-info {
    background: #f2f4f8;
    padding-top: 30px;
}


.info-text {
    margin: auto 0;
}

span.first-text {
    font-size: 16px;
}

h5.info-txt {
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 0;
    margin-top: 5px;
}

/* time line  */


#content {
  margin-top: 10px;
  text-align: center;  
}

/* Timeline */
.timeline {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  /* The actual timeline (the vertical ruler) */
  .timeline::after {
    content: '';
    position: absolute;
    width: 4px;
    background-color: #000;
    top: 0;
    bottom: 0;
    left: 30%;
    margin-left: -3px;
  }
  
  /* Container around content */
  .line-container {
    position: relative;
    background-color: inherit;
    width: 65%;
    padding-top: 0;
    padding-bottom: 75px;
    padding-left: 35px;
    padding-right: 0;
  }
  
  /* The circles on the timeline */
  .line-container::after {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    right: -7px;
    background-color: white;
    border: 4px solid #0234b0;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
  }

  .timeline-header {
    position: absolute;
    top: 5px;
    left: -120px;
}

.timeline-header h2 {
    font-size: 35px;
    color: #959595;
}
  
  
  /* Place the container to the right */
  .right {
    left: 30%;
  }
  
  /* Add arrows to the left container (pointing right) */
  .left::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    right: 30px;
    border: none;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent white;
  }
  
  /* Add arrows to the right container (pointing left) */
  .right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 30px;
      border: none;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
  }
  
  /* Fix the circle for containers on the right side */
  .right::after {
    left: -11px;
  }
  
  /* The actual content */
  .timeline-content {
    padding: 0 15px;
    background-color: white;
    position: relative;
    border-radius: 6px;
    text-align: justify;
  }
  h1.main-page-title.page-title {
    margin-bottom: 0;
}

  .who-contents {
    display: flex;
    justify-content: space-between;
    column-gap: 40px;
}

.who-image {
    width: 40%;
}

.who-content {
    margin: auto;
    width: 60%;
}

img.who-img {
    display: block;
    width: 100%;
}

.who-we-are {
    margin: 50px 0;
}

h2.who-title {
    font-size: 25px;
    margin-top: 0;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 25px;
}

h2.our-story-title {
    font-size: 35px;
    font-weight: 600;
    text-transform: uppercase;
    margin-left: 15%;
    margin-bottom: 50px;
    margin-top: 65px;
}

.timeline-bottom {
    margin-top: 50px;
    display: flex;
    column-gap: 45px;
}

.bottom-title {
    width: 22%;
}

.bottom-text {
    margin: auto 0;
    width: 78%;
}

.bottom-title h3 {
    font-size: 35px;
    font-weight: 600;
    text-transform: uppercase;
}

.bottom-text p {
    text-align: justify;
    font-size: 16px;
    letter-spacing: 0;
    margin-bottom: 0;
}


.who-text p {
    font-size: 16px;
    letter-spacing: 0;
    text-align: justify;
}

div#pagination span.page a {
    background: #f3f3f3;
    margin: 0 5px;
}

div#pagination span.page.current {
    background: #e7e7e7 !important;
    margin-right: 5px !important;
}

div#pagination .next:before {
    content: "Next";
    background: #e7e7e7;
    padding: 4px 10px;
    position: absolute;
    font-size: 14px;
    opacity: 1;
    cursor:
    pointer;
    left: 0;
    margin-left:5px;
}

div#pagination span.next a,
div#pagination span.prev a{
    opacity:0;
}

div#pagination .prev:before {
    content: "Prev";
    background: #e7e7e7;
    padding: 4px 8px;
    position: absolute;
    font-size: 14px;
    opacity: 1;
    cursor:
    pointer;
    margin-right:5px;
    left: -18px;
    display: block;
}

h3.discount {
    font-weight: 600;
    font-size: 25px;
}

.middle-menu ul li:first-child {
    align-items: center;
    display: flex;
}

img.sale-gif { 
    width: 16px;
    height: 16px;
    margin-left: 5px;
}
.list-menu>li {
    display: flex;
    align-items: center;
    position: relative;
}

ul.menu-drawer__menu.list-menu img.sale-gif {
    position: absolute;
    right: 60%;
    top: 15px;
}
h3.discount span {
    font-size: 12px;
    letter-spacing: 0;
    font-weight: 300;
    color: #717171;
}
.collection_products {
    display: flex;
}

.product-filters {
    width: 25%;
}

.right-menu li {
    border-right: 1.5px solid #585858;
    border-bottom: none;
    padding-right: 10px;
    margin-right: 10px;
}

.right-menu ul {
    column-gap: 0;
}

.right-menu li:last-child {
    border-right: none;
    padding-right: 0;
    margin-right: 0;
}
.product-items {
    width: 75%;
}
li.list-social__item:first-child a {
    padding-left: 0;
}

ul.footer__list-social.list-social {
    margin-top: 10px;
}
.footer-email-wrap {
    display: flex;
    align-items: center;
    margin-top: 16px;
}

span.email-text {
    font-size: 18px;
    font-weight: 500;
}

.footer-email-wrap a {
    margin-bottom: 0;
    margin-left: 5px;
    color: #5C80FF;
}

.contact-item {
    display: flex;
    align-items: center;
    border: 0.5px solid #838383;
    border-radius: 100px;
    padding: 9px 19px;
    margin-bottom: 17px;
    position: relative;
}

span.item-subtitle {
    font-size: 14px;
    font-weight: 300;
    line-height: 1;
}
a.contact-link {
    position: absolute;
    height: 100%;
    width: 100%;
    display: block;
    left: 0;
    opacity: 0;
    z-index:1;
}
h2.footer-block__heading.support-title {
    letter-spacing: 0.5em;
}
img.phone-icon {
    width: 18px;
    object-fit: contain;
}

.contact-item-content {
    margin-left: 16px;
    border-left: 1px solid;
    padding-left: 18px;
}

a.item-phone {
    font-size: 16px;
    font-weight: 600;
    line-height: 1.5;
    letter-spacing: 0;
    display: block;
}
.footer-contact {
    margin-right: 25px;
}
/* filter  */ 

form#FacetFiltersForm {
    display: block;
}

div#FacetsWrapperDesktop {
    display: block;
}

.facet-filters.sorting.caption {
    padding-left: 0;
}

.facet-filters__field {
    justify-content: left;
}
.payment-img.mobile {
    display: none;
}

label.facet-checkbox {
    margin: 0;
    padding: 5px 0;
    font-size: 14px;
}

ul.facets__list {
    max-height: 400px;
    padding: 0;
    overflow: auto;
    margin-bottom: 30px;
    margin-top: 10px;
}


.facet-checkbox>svg {
    width: 12px;
    height: 12px;
}

/* filter end */

h1.product__title {
    font-weight: 500;
}
.product-brand,
.product-sku,
.product-available{
    display: flex;
    margin-bottom: 5px;
}

.product__meta {
    font-size: 14px;
    max-width: 250px;
    letter-spacing: 0;
}

.product__meta strong {
    width: 50%;
}

span.badge.price__badge-sale::before {
    content: '';
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    border-top: 8px solid transparent;
    border-right: 10px solid #263c8e;
    border-bottom: 5px solid transparent;
    left: -8px;
    top: 2px;
}

span.badge.price__badge-sale {
    position: relative;
}
.product-form__input.product-form__quantity {
    display: flex;
    align-items: center;
    column-gap: 10px;
    margin-top: 18px;
    margin-bottom: 30px;
}
.product-form__input.product-form__input--dropdown select {
    min-height: 37px;
    height: 37px;
}
variant-selects.no-js-hidden {
    margin-top: 20px;
}
.product__accordion.accordion h2.h4.accordion__title {
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 600;
    color: #000;
}
.product__accordion .accordion__content {
    font-size: 15px;
    letter-spacing: 0;
}

.product__accordion .accordion__content ul {
    margin-top: 0px;
}
.thumbnail--narrow img {
    width: 100%;
    object-fit: cover;
}

.product--small .thumbnail-list.slider--tablet-up .thumbnail-list__item.slider__slide {
    height: 120px;
    width: 80px;
}
.size-guide-button {
    width: 100%;
    position: relative;
}

.mobile-nav {
    display: none;
}
a#hot-sale {
    color: #ed1c24;
}
@media only screen and (max-width:767px) {
    svg.icon.nav-icon {
        width: 14px;
        height: 15px;
        float: right;
        position: absolute;
        right: 20px;
        transform: rotate(270deg);
    }
    .menu-drawer__close-button svg.icon.nav-icon {
        right: inherit;
        transform: rotate(90deg);
    }
    .menu-drawer__close-button span {
        padding-left: 18px;
        text-transform: uppercase;
    }
    .mobile-nav {
        display: block;
    }
    .footer a.link.link--text:after {
        width: 0;
    }
    .mobile-nav {
        display: flex;
        align-items: center;
    }
    h1.product__title {
        font-size: 21px;
        line-height: 32px;
        letter-spacing: 0;
    }
    .mobile-facets__summary>div, .facets__summary>div {
        font-size: 14px;
    }
    
    .product-filters, .product-items {
        width: 100%;
    }
    
    .collection_products {
        display: block;
    }

    .top-info-content {
        display: block;
    }
    
    .info-area {
        width: 100%;
    }
    
    .info-area:first-child {
        margin-bottom: 12px;
    }
    .brand-info {
        padding: 18px;
        position: relative;
        display: inline-block;
        border: 1px solid #00000014;
        margin: 7px 0;
    }
    
    .brand-logo {
        float: left;
        display: inline;
        width: 30%;
        padding-right: 16px;
        margin: inherit;
    }
    
    img.brand-img {
        width: 100%;
        display: block;
    }
    
    .brand-text {
        float: left;
        display: initial;
        padding: 0;
    }
    .discount-visit {
        border-top: 1px solid #C7C7C7;
    }
    h3.discount {
        font-weight: 600;
    }
    .brand-discount {
        width: 50%;
        display: inline;
        border: none;
        margin-top: 13px;
        margin-bottom: 6px;
        text-align: left;
    }

    .brand-logo-title,
    .discount-visit,
    .brand-text

    {
        width: 100%;
    }

    .mobile-title {
        display: block;
        width: 70%;
    }

    .brand-contents {
        width: 100%;
        display: block;
    }

    h3.brand-title.desk {
        display: none;
    }
    h3.discount span {
        font-size: 15px;
    }
    .brand-visit {
        width: 50%;
        margin-top: 12px;
        margin-bottom: 10px;
    }
    
    a.visit-link {
        padding: 5px 8px;
        font-size: 17px;
        line-height: 1;
        margin-right: 10px;
    }
    
    a.visit-link img {
        width: 17px;
    }
    
    p.brand-txt {
        margin-top: 10px;
    }

    .who-contents {
        display: block;
    }
    
    .who-image {
        width: 100%;
    }
    
    .who-content {
        width: 100%;
        margin-top: 20px;
    }
    
    h2.who-title {
        font-size: 20px;
        margin-bottom: 10px;
    }
    
    .who-we-are {
        margin: 15px 0;
    }

    h2.our-story-title {
        margin: 0;
        font-size: 20px;
        margin-bottom: 15px;
    }
    
    .line-container.right {
        width: 100%;
        left: 5%;
        padding-left: 5px;
        padding-bottom: 20px;
    }
    
    .timeline:after {
        left: 5%;
    }
    
    .timeline-header {
        top: 12px;
        left: 15px;
        margin-bottom: 0;
        z-index: 2;
    }
    
    .timeline-content {
        text-align: justify;
        padding-top: 45px;
        padding-left: 10px;
    }
    
    .timeline-header h2 {
        font-size: 22px;
    }
    
    .timeline-content p {
        line-height: 1.4;
    }
    
    .timeline-bottom {
        display: block;
        margin-top: 25px;
    }
    
    .bottom-title {
        width: 100%;
    }
    
    .bottom-text {
        width: 100%;
    }
    
    .bottom-text p {
        font-size: 14px;
        line-height: 1.4;
    }
    
    .bottom-title h3 {
        font-size: 20px;
    }
    
    .who-text p {
        font-size: 14px;
        line-height: 1.4;
    }
    
    img.top-icon {
        padding: 12px;
        height: 50px;
        width: 50px;
    }

    .footer-block.grid__item.footer-block--menu {
        width: 50%;
        float: left;
    }
    
    a.link.link--text.list-menu__item.list-menu__item--link {
        padding-top: 0;
        letter-spacing: 0;
    }
    
    h2.footer-block__heading.support-title {
        text-align: center;
    }
    
    .footer-contact {
        margin: auto;
        max-width: 80%;
    }
    .footer-block__details-content.rte {
        text-align: center;
        max-width: 80%;
        margin: auto;
    }
    
    .footer-email-wrap {
        text-align: center;
        justify-content: center;
    }
    
    ul.footer__list-social.list-unstyled.list-social {
        justify-content: center;
    }
    h2.footer-block__heading.head-office {
        text-align: center;
        color: #5C80FF;
        margin-bottom: 10px;
        position: inherit;
    }
    .payment-img.mobile {
        display: block;
    }
    
    .payment-img.desk {
        display: none;
    }
}

.sidebar {
    box-shadow: rgb(0 0 0 / 16%) 0px 0px 6px;
}

.sidebar-nav {
    padding: 0;
    list-style: none;
  	position:relative;
}

.first-item {
    text-indent: 20px;
    line-height: 43px;
}

.first-item>a{
    font-size: 15px;
    display: block;
    text-decoration: none;
    color: #000;
    text-transform: uppercase;
    font-weight: 500;
}

.first-item>a:hover {
    text-decoration: none;
    color: #000;
    background: #e5e7eb;
}

.first-item>a:active,
.first-item>a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
    color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}


.mega-menu {
  	display: none;
    top: 0;
    position: absolute;
    background: white;
    left: 100%;
    z-index: 55;
    width: 910px;
    box-shadow: 0 1px 5px #8a8484;
  	padding:15px 10px;
  	bottom:0;
}

ul.sub-menu {
    list-style: none;
    padding-left: 0;
}

.active {
	display:block
}

img.right-arrow {
    width: 20px;
    position: absolute;
    right: 0;
    margin-top: 8px;
    margin-right: 10px;
    opacity: 0.3;
}

li.sub-item a {
    font-size: 14px;
    color: #000;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 0;
  	text-decoration: none;
}

li.child-item a {
    font-size: 15px;
    display: block;
    text-decoration: none;
    color: #000;
    letter-spacing: 0;
    text-transform: capitalize;
}

li.child-item a:hover {
	color:#002681;
}

li.child-item {
    line-height: 28px;
}

/* mega menu for other */

.menu-show {
    position: absolute;
    z-index: 999;
    background: #fff;
    right: 0;
    left: 0;
    margin: 10px 15px;
  	display: none;
}

.row.desktop-menu {
    position: relative;
}

.show {
	display:block;
}