a{
	text-decoration: none;
}
.announcement-bar.announcement-bar--one-announcement, .announcement-bar--one-announcement .announcement-bar__link {
	margin: 0;
}

.announcement-bar, .announcement-bar__announcement {
	grid-area: auto;
}
.mail-wrapper{
	display: flex;
	justify-content: flex-end;
}
.mail-wrapper a{
	display: flex;
	align-items: center;
	text-decoration: none;
}
.br{
	border-right: 1px solid #fff;
	padding-right: 10px;
}
.br:last-child{
		border-right:none;
		padding-right: 0px;
}
@media screen and (min-width: 990px) {
	.header--middle-left {
	  grid-template-columns: auto auto;
	}
	.header__inline-menu{
		text-align: center;
	}
  }

.banner__text{
	background: rgba(var(--color-button));
	padding: 10px 20px;
}
.button{
	border-radius: 50px;
}
.button::after,.button::before,.button:not([disabled]):hover::after{
	box-shadow: none;
}

.btn{
    cursor: pointer;
    padding: 2% 5%;
    border-radius: 50px;
    text-decoration: none;
    
    font-weight: 600;
}
.btn-primary{
    background-color: rgb(var(--color-button));
    color: rgb(var(--color-button-text));
	border: 1px solid rgb(var(--color-button));
    transition: .2s all linear;
}
.btn-primary:hover{
    color: rgb(var(--color-button));
    background-color: rgb(var(--color-button-text));
	border: 1px solid rgb(var(--color-button-text));
	box-shadow: 0 4px 9px rgb(var(--color-button-text));
}
.btn-secondary{
    background-color: rgb(var(--color-secondary-button));
    color: rgb(var(--color-secondary-button-text));
	border: 1px solid rgb(var(--color-secondary-button));
    transition: .2s all linear;
}
.btn-secondary:hover{
    color: rgb(var(--color-secondary-button));
    background-color: rgb(var(--color-secondary-button-text));
	border: 1px solid rgb(var(--color-secondary-button-text));
	box-shadow: 0 4px 9px rgb(var(--color-secondary-button-text));
}

.countdown_text{
	font-size: calc(var(--font-heading-scale) * 3rem);
	margin-left: 2rem;
}

.days, .hours, .minutes, .seconds{
	background: #fff;
	padding: 5px;
	margin: 5px;
	color: #000;
    border-radius: 15px;
  }


