a{
	text-decoration: none;
}
.announcement-bar.announcement-bar--one-announcement, .announcement-bar--one-announcement .announcement-bar__link {
	margin: 0;
}

.announcement-bar, .announcement-bar__announcement {
	grid-area: auto;
}
.mail-wrapper{
	display: flex;
	justify-content: flex-end;
}
.mail-wrapper a{
	display: flex;
	align-items: center;
	text-decoration: none;
}
.br{
	border-right: 1px solid #fff;
	padding-right: 10px;
}
.br:last-child{
		border-right:none;
		padding-right: 0px;
}
@media screen and (min-width: 990px) {
	.header--middle-left {
	  grid-template-columns: auto auto;
	}
	.header__inline-menu{
		text-align: center;
	}
  }

.banner__text{
	background: rgba(var(--color-foreground));
	padding: 10px 20px;
}
.button{
	border-radius: 50px;
}
